body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.user-icon {
    cursor: pointer;
}

.user-icon img {
    width: 24px;
    /* Adjust the width as needed */
    height: 24px;
    /* Adjust the height as needed */
}

.side-menu {
    width: 0;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #fff;
}

.side-menu a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu a:hover {
    color: #f1f1f1;
}

.side-menu .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    cursor: pointer;
}

.side-menu .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.side-menu .user-icon {
    margin-bottom: 10px;
}

.side-menu .logout a {
    color: #818181;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.side-menu .logout a:hover {
    color: #f1f1f1;
}

.side-menu .menu-navigation {
    padding-left: 16px;
    /* Adjust as needed */
}

.side-menu .menu-navigation a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.side-menu .menu-navigation a:hover {
    color: #f1f1f1;
}